<!-- <div class="col-12 md:col-8">
    <div class="card border-0">
        <h5>{{ getTranslation('grievance') | translate }}</h5>
        <div class="grivance-data">
            <label>{{ getTranslation('name') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.name}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('email') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.email}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('issue') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.issue}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('mobileNumber') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.mobile}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('address') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.address}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('age') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.age}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('issueType') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.issue_type}}</span>
        </div>
    </div>
</div> -->
<div class="grid">
    <div class="col-12 pb-1">
        <div class="p-2 flex justify-content-between align-items-center">
            <div>
                <!-- <h5 class="my-1 text-white">
                    District
                </h5> -->
            </div>
            <div>
                <button pbutton="" type="button" label="Add"
                    class="p-element p-button-sm p-button-raised p-button-orange p-button p-component ml-2"
                    routerLink="/main/master/grievance"><span class="p-button-label">{{ getTranslation('goToList') |
                        translate }}</span></button>
            </div>
        </div>
    </div>

    <form [formGroup]="grivanceForm">
          
        <div class="col-12 md:col-6">
            <div class="card border-0">
                <h5>{{ getTranslation('grievance') | translate }}</h5>
                <div style="display: flex; justify-content: flex-end; gap: 0.5rem;">
                    <button pButton type="button" (click)="exportToExcel()">
                        <img src="assets/images/excel.png" alt="Export" width="16" height="16" style="margin-right: 8px;">
                        Export
                      </button>
                      
                      <button pButton type="button" (click)="printData()" class="p-button-info">
                        <img src="assets/images/printing.png" alt="Print" width="16" height="16" style="margin-right: 8px;">
                        Print
                      </button>
                  </div>
             <div class="mt-4">
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('name') | translate }}</mat-label>
                    <input matInput [readonly]="true" matInput
                        onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)"
                        formControlName="name">
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('email') | translate }}</mat-label>
                    <input matInput [readonly]="true" formControlName="email">
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('issue') | translate }}</mat-label>
                    <input matInput [readonly]="true" matInput
                        onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)"
                        formControlName="issue">
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('mobileNumber') | translate }}</mat-label>
                    <input matInput [readonly]="true" matInput
                        onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)"
                        formControlName="mobile">
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('age') | translate }}</mat-label>
                    <input matInput [readonly]="true" matInput
                        onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)"
                        formControlName="age">
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('issueType') | translate }}</mat-label>
                    <input matInput [readonly]="true" matInput
                        onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)"
                        formControlName="issue_type">
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('address') | translate }} </mat-label>
                    <textarea matInput [readonly]="true" formControlName="address"></textarea>
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <mat-label>{{ getTranslation('grievanceType') | translate }}</mat-label>
                    <mat-select formControlName="status" (selectionChange)="onSelectChange($event)">
                        <mat-option *ngFor="let grievanceType of grivenceTypeList" [value]="grievanceType.id">
                            {{ grievanceType.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
                <!-- <div *ngIf="selectedValue == 3">
                    <div class="document-view">
                        <div class="document-header">
                            <span class="document-title">View Grievance Document</span>
                            <div class="document-action">
                                <a [href]="grivenceIndividualData.file">
                                    <img src="assets/images/pdf.svg" alt="PDF Icon" height="25" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                  -->
         
                <div *ngIf="selectedValue == 3">
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
                    <button mat-raised-button color="primary" (click)="triggerFileInput()">
                        Upload File
                    </button>
                    <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
                </div>
                <div class="col-12 text-right">
                    <button pButton pRipple type="button" class="p-button-rounded" (click)="addGrivence()">{{
                        getTranslation('submit') | translate }}</button>
                </div>
            </div>
        </div>
    </form>