<div class="col-12 md:col-6">
    <div class="card border-0">
        <h5>{{ getTranslation('grievance') | translate }}</h5>
        <div class="grivance-data">
            <label>{{ getTranslation('name') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.name}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('email') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.email}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('issue') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.issue}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('mobileNumber') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.mobile}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('address') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.address}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('age') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.age}}</span>
        </div>
        <div class="grivance-data">
            <label>{{ getTranslation('issueType') | translate }}&nbsp;&nbsp;</label>
            <span class="grivance-content">{{grivenceIndividualData?.issue_type}}</span>
        </div>
    </div>
</div>