<div class="grid">
    <div class="col-12 pb-1">
        <div class="p-2 flex justify-content-between align-items-center">
            <div>
                <h5 class="my-1 color-devil">
                    {{ getTranslation('medicalType') | translate }}
                </h5>
            </div>
            <div>
                <button pbutton="" type="button" label="View" class="p-element p-button-sm p-button-raised p-button-orange p-button p-component ml-2" routerLink="/main/master/medical-type-add"><span class="p-button-label">{{ getTranslation('add') | translate }}</span></button>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="isLoader">
        <app-loader></app-loader>
    </div> -->
    <div class="col-12 md:col-6 pt-0">
        <app-dynamic-table [dynamaicTableData]="dynamaicTableData" (delete)="deleteRecord($event)" (edit)="editRecord($event)"></app-dynamic-table>
    </div>
</div>