<div class="layout-rightpanel" (click)="appMain.rightPanelClick = true">
    <div class="rightpanel-wrapper">
        <div class="rightpanel-section weather-section">
            <div class="section-header">
                <h6>Today</h6>
            </div>
            <div class="weather">
                <!-- <img src="assets/demo/images/rightpanel/icon-sun.svg" alt="freya-layout" /> -->
                <div class="weather-info">
                    <h6>Ankara, 22 May</h6>
                    <h1>24º</h1>
                </div>
            </div>
        </div>
    </div>
</div>
