<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <a tabindex="0" class="menu-button"
            onmouseover="this.querySelector('i').style.color = 'black';"
            onmouseout="this.querySelector('i').style.color = 'white';"
            (click)="appMain.onMenuButtonClick($event)">
             <i style="color:white" class="pi pi-bars"></i>
         </a>
            <a tabindex="0" id="logo-link" class="layout-topbar-logo" (click)="appMain.onMenuButtonClick($event)">
                <!-- <img [src]="'assets/layout/images/logo-' + (app.topbarTheme === 'dark' ? 'freya-white' : 'freya') + '.svg'"
                    alt="freya-layout" /> -->
                    <!-- <img src="assets/images/logo-dark.png"
                    alt="freya-layout" /> 
                eBeat -->
            </a>
        </div>

        <app-menu></app-menu>

        <div class="layout-topbar-right">
            <ul class="layout-topbar-actions">
                <!-- <li>
                    <button pbutton="" type="button" icon="pi pi-globe" class="p-element p-button-text p-button-secondary flex-shrink-0 p-button p-component p-button-icon-only"><span class="p-button-icon pi pi-cog" aria-hidden="true" style="font-size: 20px;color: #fff;"></span></button>
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-globe" style="font-size: 20px;"></i>
                    </div>
                </li> -->
                <li #profile class="topbar-item user-profile"
                    [ngClass]="{'active-topmenuitem fadeInDown': appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <img src="assets/images/mainLogo.jpeg" class="avatar img-50 rounded-circle" alt="Admin" />
                    </a>
                    <ul class="fadeInDown">
                        <li class="border-bottom-1 border-bluegray-200">
                            <span class="capitalize">{{userName}}</span>
                        </li>
                        <li routerLink="/main/profile">
                            <a>
                                <span class="pi pi-user mr-3"></span>
                                <span class="flex flex-column">
                                    {{ getTranslation('profile') | translate }}
                                </span>
                            </a>
                        </li>
                        <li (click)="toggleLanguage()">
                            <a>
                                <span class="pi pi-globe mr-3"></span>
                                <span class="flex flex-column">
                                    {{ getTranslation('language') | translate }}
                                </span>
                            </a>
                        </li>
                        <li (click)="resetpassword()">
                            <a>
                                <span class="pi pi-cog mr-3"></span>
                                <span class="flex flex-column">
                                    {{ getTranslation('resetpassword') | translate }}
                                </span>
                            </a>
                        </li>
                        <li (click)="logout()">
                            <a>
                                <span class="pi pi-power-off mr-3"></span>
                                <span class="flex flex-column">
                                    {{ getTranslation('logout') | translate }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <h5 class="mb-0 capitalize text-overflow-ellipsis text-white">
                        {{userName}}
                    </h5>
                </li> -->
            </ul>
        </div>
    </div>
</div>


<p-dialog header="{{ getTranslation('resetpassword') | translate }}" [(visible)]="ResetModal" modal="modal" showEffect="fade" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetSubmit()">
            <div class="field col-12 md:col-12"  >
                <span class="p-float-label">
                    <input style="width: 100%;" pInputText id="inputtext" type="text"
                        [ngClass]="(resetPasswordForm?.controls?.currentPassword?.touched && resetPasswordForm?.controls?.currentPassword?.invalid)?'ng-dirty ng-invalid ng-touched':''"
                        formControlName="currentPassword" required>
                    <label htmlFor="inputtext">{{ getTranslation('oldPasssword') | translate }}</label>
                </span>
                <small class="p-error block"
                    *ngIf="( resetPasswordForm?.controls?.currentPassword?.touched && resetPasswordForm?.controls?.currentPassword?.errors?.required) ">
                    Old Password is required
                </small>
            </div>
            <div class="field col-12 md:col-12"  >
                <span class="p-float-label">
                    <input style="width: 100%;" pInputText id="inputtext" type="text"
                        [ngClass]="(resetPasswordForm?.controls?.newPassword?.touched && resetPasswordForm?.controls?.newPassword?.invalid)?'ng-dirty ng-invalid ng-touched':''"
                        formControlName="newPassword" required>
                    <label htmlFor="inputtext">{{ getTranslation('newPassword') | translate }}</label>
                </span>
                <small class="p-error block"
                    *ngIf="( resetPasswordForm?.controls?.newPassword?.touched && resetPasswordForm?.controls?.newPassword?.errors?.required) ">
                    New Password is required
                </small>
            </div>
            <div class="field col-12 md:col-12"  >
                <span class="p-float-label">
                    <input style="width: 100%;" pInputText id="inputtext" type="text"
                        [ngClass]="(resetPasswordForm?.controls?.confirmPassword?.touched && resetPasswordForm?.controls?.confirmPassword?.invalid)?'ng-dirty ng-invalid ng-touched':''"
                        formControlName="confirmPassword" required>
                    <label htmlFor="inputtext">{{ getTranslation('confirmPassword') | translate }}</label>
                </span>
                <small class="p-error block"
                    *ngIf="( resetPasswordForm?.controls?.confirmPassword?.touched && resetPasswordForm?.controls?.confirmPassword?.errors?.required) ">
                    Confirm Password is required
                </small>
            </div>
            <div class="field col-12">
                <button pButton pRipple type="submit"  class="mr-2 mb-2">{{ getTranslation('submit') | translate }}</button>
                <button pButton pRipple type="button" (click)="ResetModal=false"  class="mr-2 mb-2">{{ getTranslation('goBack') | translate }}</button>
            </div>
        </form>
    </div>
</p-dialog>