<div class="grid">
    <div class="col-12 pb-1">
        <div class="p-2 flex justify-content-between align-items-center">
            <div>
                <!-- <h5 class="my-1 text-white">
                    Old Age
                </h5> -->
            </div>
            <div>
                <button pbutton="" type="button" label="Add" class="p-element p-button-sm p-button-raised p-button-orange p-button p-component ml-2" routerLink="/main/master/oldage-type"><span class="p-button-label">{{ getTranslation('goToList') | translate }}</span></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card" *ngIf="isLoader">
            <app-loader></app-loader>
        </div>
        <div class="card border-0" *ngIf="isNotLoader">
            <h5>{{ getTranslation('addOldAgeType') | translate }}</h5>
            <form [formGroup]="oldageTypeForm">
                <div class="grid mt-0">
                    <div class="col-12 md:col-12 pb-0">
                        <mat-form-field class="full-width-field">
                            <mat-label>{{ getTranslation('name') | translate }}</mat-label>
                            <input matInput  onkeypress='return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31' formControlName="name">
                            <mat-error *ngIf="(oldageTypeForm?.controls?.name?.touched && oldageTypeForm?.controls?.name?.errors?.required)">{{ getTranslation('namerequired') | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-slide-toggle [checked]="Toggleactive">{{ getTranslation('active') | translate }}</mat-slide-toggle>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button pButton pRipple type="button" class="p-button-rounded" (click)="saveDetails()">{{ getTranslation('submit') | translate }}</button>
                    <!-- <button (click)="reset()" type="button" class="btn btn-secondary btn-raised btn-round ml-12" >Reset</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
