<div class="grid">
    <div class="col-12 pb-1">
        <div class="p-2 flex justify-content-between align-items-center">
            <div>
                <!-- <h5 class="my-1 text-white">
                    District
                </h5> -->
            </div>
            <div>
                <!-- <button pbutton="" type="button" label="Add" class="p-element p-button-sm p-button-raised p-button-orange p-button p-component ml-2" routerLink="/main/master/district"><span class="p-button-label">{{ getTranslation('goToList') | translate }}</span></button> -->
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card" *ngIf="isLoader">
            <app-loader></app-loader>
        </div>
        <div class="card border-0" *ngIf="isNotLoader">
            <h5>{{ getTranslation('user') | translate }}</h5>
            <form [formGroup]="userForm">
                <div class="grid mt-0">
                    <div class="col-12 md:col-12 pb-0">
                        <mat-form-field class="full-width-field">
                            <mat-label>{{ getTranslation('name') | translate }}</mat-label>
                            <input matInput  matInput onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)" formControlName="name">
                        </mat-form-field>
                        <mat-form-field class="full-width-field">
                            <mat-label>{{ getTranslation('email') | translate }}</mat-label>
                            <input matInput  matInput onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)" formControlName="email">
                        </mat-form-field>
                        <mat-form-field class="full-width-field">
                            <mat-label>{{ getTranslation('mobileNumber') | translate }}</mat-label>
                            <input matInput  matInput onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)" formControlName="mobile">
                        </mat-form-field>
                        <mat-form-field class="full-width-field">
                            <mat-label>{{ getTranslation('password') | translate }}</mat-label>
                            <input matInput  matInput onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 32 || event.charCode <= 31)" [type]="hide ? 'password' : 'text'" formControlName="password">
                          </mat-form-field>
                          <mat-form-field class="full-width-field">
                        <mat-label class="font-bold">{{ getTranslation('districtName') | translate }}</mat-label>
                            <mat-select formControlName="districtId">
                                <mat-option *ngFor="let dict of dictList"
                                    [value]="dict.id">
                                    {{dict.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="(grievanceForm?.controls?.districtId?.touched && grievanceForm?.controls?.districtId?.errors?.required)">{{ getTranslation('districtNamerequired') | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button pButton pRipple type="button"  class="p-button-rounded" (click)="saveUser()">{{ getTranslation('submit') | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
