<p-table #dt1 dataKey="id" [rows]="10" [columns]="cols" [sortOrder]="1" [showCurrentPageReport]="true"
  [value]="tableData" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  selectionMode="multiple" [globalFilterFields]="searchHeader" [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]"
  responsiveLayout="scroll" [loading]="loading" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto pr-2">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Search keyword" />
      </span>
      <button pbutton="" pripple="" icon="pi pi-upload"
        class="p-element p-ripple p-button-rounded mx-3 flex-shrink-0 p-button p-component p-button-icon-only"
        (click)="dt1.exportCSV()"><span class="p-button-icon pi pi-upload" aria-hidden="true"></span><span
          class="p-ink"></span></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 8rem;" class="text-white">S.No</th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <div class="flex justify-content-between align-items-center" *ngIf="col.field !== 'id'">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </div>
      </th>
      <th style="width: 8rem;" class="text-white">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>{{rowData.serialNumber}}</td>
      <td *ngFor="let col of columns">
        <div *ngIf="col.field !== 'document'; else documentTemplate">
          {{rowData[col.field]}}
        </div>
        <ng-template #documentTemplate>
          <a *ngIf="rowData.document; else noDocument" [href]="rowData.document" target="_blank">
            <img src="assets/images/pdf.svg" height="40" alt="View Document" />
          </a>
          <ng-template #noDocument>
            <img src="assets/images/no_pdf.png" height="40" alt="No Document" />
          </ng-template>
        </ng-template>
      </td>
      <td classStyle="width:30%;">
        <i class="pi pi-arrow-right" (click)="viewTable(rowData)"></i>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No Data found.</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="loadingbody">
    <tr>
      <td colspan="8">Loading data. Please wait.</td>
    </tr>
  </ng-template>
</p-table>
