.color01 {
    color: #4A4A4A;
}
.color02 {
    color: #3d33ff;
}
.color03 {
    color: #a6a6a6;
}
.color04 {
    color: #BC6FF1;
}
.color07 {
    color: #4B4068;
}
.f16 {
    font-size: 18px;
}
.fw-600 {
    font-weight: 600;
}
@media only screen and (max-width: 1470px) and (min-width: 1200px){
  
}

img{
width:25px;
height:25px;
cursor:pointer;
}