<div class="dashboardAdmin">
    <div class="grid match-height mb-3">
        <div class="col-12 md:col-4" routerLink="/main/master/oldage" routerLink="/main/master/oldage">
            <div class="card bg-gradient-1">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('oldageHomes') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.oahCount}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <i class="pi pi-home text-2xl color-012"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4" routerLink="/main/master/hospital">
            <div class="card bg-gradient-2">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('hospital') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.hopitalCount}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <!-- <i class="pi pi-briefcase text-2xl color-012"></i> -->
                            <img src="assets/images/logo/icons8-hospital-64.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 md:col-4" routerLink="/main/master/oldage">
            <div class="card bg-gradient-3">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('seniorcitizen') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.seniorCitizen.usersCount}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <i class="pi pi-clone text-2xl color-012"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-12 md:col-4" >
            <div class="card bg-gradient-4">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('MobileappInstalled') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.seniorCitizen.usersCount}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <i class="pi pi-mobile text-2xl color-012"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 md:col-4" >
            <div class="card bg-gradient-5">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('totalhelpline') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.helplineCount}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <i class="pi pi-wallet text-2xl color-012"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="col-12 md:col-4" >
            <div class="card bg-gradient-7">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('pendinggreviance') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.pendingGrievance}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <img src="assets/images/logo/icons8-complaints-30.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4" >
            <div class="card bg-gradient-8">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('inprocessgrievance') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.inprocessGrievance}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <!-- <i class="pi pi-briefcase text-2xl color-012"></i> -->
                            <img src="assets/images/logo/icons8-complaints-30.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4" >
            <div class="card bg-gradient-9">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('completedgrievance') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.completedGrievance}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <img src="assets/images/logo/icons8-complaints-30.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-4">
            <div class="card bg-gradient-6">
                <div class="card-container indigo-container overflow-hidden">
                    <div class="flex justify-content-between">
                        <div class="flex-1 md:flex-none">
                            <h5 class="square-after text-03 f16 ffamily2">{{ getTranslation('noofdownload') | translate }}</h5>
                            <p class="my-2 text-3xl fw-600 text-02">{{dbCount?.schemeDownload}}</p>
                        </div>
                        <div class="flex-1 md:flex-none flex align-items-center justify-content-center">
                            <i class="pi pi-wallet text-2xl color-012"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid match-height mb-2">
        <div class="col-12 md:col-8">
            <div class="card">
                <p-chart type="bar" [data]="chartData" [options]="basicOptions"></p-chart>
            </div>
        </div>
        <div class="col-12 md:col-4" >
            <div class="card">
                <div class="title">{{ getTranslation('seniorcitizen') | translate }}</div>
                <div class="card-container indigo-container overflow-hidden">
                    <p-chart type="doughnut" [data]="feedback" [style]="{'width': '40%'}"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Due popup -->
<p-dialog header="Dues" [(visible)]="dueModal" [modal]="true" [style]="{width: '40vw'}"
    [breakpoints]="{'960px': '95vw'}" [draggable]="false" [resizable]="false">
    <div class="grid bg-white">
        <div class="col-6 md:col-6" routerLink="/main/broadcast-message">
            <div class="card white border-highlight">
                <div class="text-center">
                    <p class="mb-0 text-md font-semibold">
                     LT
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 md:col-6" routerLink="/main/broadcast-message-view">
            <div class="card white border-highlight">
                <div class="text-center">
                    <p class="mb-0 text-md font-semibold">
                      HT
                    </p>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
